doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Cuprum',rel='stylesheet',type='text/css')
  body
    h1= title
